@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');





*{
margin: 0;
padding: 0;
box-sizing: border-box;
}
.body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    

}



.box{
height: 497px;
width: 320px;
background-color: white;
border-radius: 20px;
padding: 16px 16px 193px 16px;





}
.child{
    width: 288px;
    height: 288px;
    border-radius: 10px;
    background-color: #2C7DFA;
    display: flex;
    justify-content: center;
    align-items: center;
    
}



h1{

font-size: 22px;
color: dark navy;
margin: 24px 0px 16px 0px;
text-align: center;
font-family: 'outfit';



}

p{
margin: 16px 0px 40px 0px;
text-align: center;
    font-size: 17px;
    letter-spacing: 0.188px;
    color: #7D889E;
    font-family: 'outfit 400';
    
}

